* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  cursor: pointer;
}
body {
  font-size: 1.6rem;
  background-color: #0a051c;
}
header {
  width: 100%;
  height: 7rem;
  background-color: #000000;
  position: fixed;
  z-index: 5;
}
.tabBars {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* toolBarLeft */
.tabBars .toolBarLeft {
  display: flex;
  gap: 1rem;
}
.toolBarLeft img {
  width: 5rem;
  height: 5rem;
}
.toolBarLeft .titleMemeShirt {
  color: #fff;
  font-size: 5.4rem;
  font-family: "Black Ops One";
}

/* toolBarCenter */
.tabBars .toolBarCenter {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  /* margin: auto 0rem; */
}
.toolBarCenter ul {
  list-style: none;
  display: flex;
  margin: auto 0;
}
.toolBarCenter li {
  font-size: 4rem;
  font-family: "inter", sans-serif;
  margin: 0rem 2.5rem;
  margin-bottom: 1rem;
}
.toolBarCenter li a {
  text-decoration: none;
  color: #fff;
}
.toolBarCenter li:hover {
  color: #3ba7e6;
  text-shadow: 0 0 15px #fefefe;
  transform: translateY(-4px);
  transition: all 0.2s;
}

/* toolBarRight */
.tabBars .toolBarRight {
  display: flex;
}
.toolBarRight .searchBar,
.userAccount,
.notification {
  margin: 2rem 0.5rem;
}
.iconSearch,
.iconNoti,
.iconAccount {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
/* HomeIntro */
.homeIntro {
  padding-top: 7rem;
}
.containerHome {
  width: 100%;
  height: calc(100vh - 7rem);
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* box left */
.boxHomeLeft {
  width: 50%;
  height: 70%;
}
.boxHomeLeft .titleHome {
  color: #fff;
  font-size: 5rem;
  font-family: "Black Ops One";
  animation: floatingText 4s ease-in-out infinite;
}
.boxHomeLeft .description {
  color: #fff;
  font-size: 3rem;
  font-family: "inter", sans-serif;
  margin-top: 2rem;
}
.contactLogo {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
.contactLogo i.fab {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.contactLogo .logoFacebook,
.logoInstagram,
.logoYoutube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
}
.contactLogo .logoFacebook:hover {
  background-color: #3ba7e6;
  box-shadow: 0 0 15px #3ba7e6;
  transition: all 0.3s;
}
.contactLogo .logoInstagram:hover {
  background-color: #e1306c;
  box-shadow: 0 0 15px #e1306c;
  transition: all 0.3s;
}
.contactLogo .logoYoutube:hover {
  background-color: #ff0000;
  box-shadow: 0 0 15px #ff0000;
  transition: all 0.3s;
}

.boxHomeLeft .btnDesignNow {
  width: 20rem;
  height: 5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-family: "inter", sans-serif;
  font-weight: bold;
  text-shadow: 0 0 4px #fefefe;
  box-shadow: 0 0px 15px #116396;
  background-color: #116396;
  border-radius: 10px;
  margin: 3rem 0;
  cursor: pointer;
  text-decoration: none;
}
.boxHomeLeft .btnDesignNow:hover {
  color: #116396;
  background-color: #fff;
  box-shadow: 0 0 15px #fefefe;
  transition: all 0.3s;
}

/* box right */
.boxHomeRight {
  width: 35%;
  height: 70%;
  position: relative;
}
.boxHomeRight #model3d {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  animation: floating 3s ease-in-out infinite;
}

.boxHomeRight .textMemeShirt {
  color: transparent;
  font-size: 13.4rem;
  font-family: "Alfa Slab One";
  text-shadow: 0px 0px 10000px #116396b7;
  position: absolute;
  margin-top: 5rem;
  z-index: 1;
  -webkit-text-stroke: 4px #116396;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}
/* action floating */
@keyframes floating {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes floatingText {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* 3 step design simple */
.instruction .titleInstruction {
  width: 100%;
  color: #fff;
  font-size: 3rem;
  font-family: "Black Ops One";
  text-align: center;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.threeStep {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 3rem;
}
/* general Step */
.stepOne,
.stepTwo,
.stepThree {
  width: 35rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Step One */
.threeStep .stepOne .titleStep1 {
  background-color: black;
  width: 6.5rem;
  height: 2.5rem;
  color: #fff;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-family: "inter", sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 4rem;
  right: -4rem;
}
.threeStep .stepOne i.fa-solid {
  font-size: 5rem;
  color: #ffffff;
  cursor: pointer;
}
.stepOne .iconHand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  width: 11rem;
  height: 11rem;
  border: 0.3rem solid #116396;
  border-radius: 10rem;
}
.stepOne .iconHand:hover {
  background-color: #116396;
  box-shadow: 0 0 15px #116396;
  transition: all 0.3s;
}
.stepOne .descriptStep1 {
  color: #fff;
  font-size: 1.6rem;
  font-family: "inter", sans-serif;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

/* Step Two */
.threeStep .stepTwo .titleStep2 {
  background-color: black;
  width: 6.5rem;
  height: 2.5rem;
  color: #fff;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-family: "inter", sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 4rem;
  right: -4rem;
}
.threeStep .stepTwo i.fa-solid {
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}
.stepTwo .iconTShirt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  width: 11rem;
  height: 11rem;
  border: 0.3rem solid #f0c013;
  border-radius: 10rem;
}
.stepTwo .iconTShirt:hover {
  background-color: #f0c013;
  box-shadow: 0 0 15px #f0c013;
  transition: all 0.3s;
}
.stepTwo .descriptStep2 {
  color: #fff;
  font-size: 1.6rem;
  font-family: "inter", sans-serif;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

/* Step Three */
.threeStep .stepThree .titleStep3 {
  background-color: black;
  width: 6.5rem;
  height: 2.5rem;
  color: #fff;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-family: "inter", sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 4rem;
  right: -4rem;
}
.threeStep .stepThree i.fa-solid {
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}
.stepThree .iconCart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  width: 11rem;
  height: 11rem;
  border: 0.3rem solid #08882c;
  border-radius: 10rem;
}
.stepThree .iconCart:hover {
  background-color: #08882c;
  box-shadow: 0 0 15px #08882c;
  transition: all 0.3s;
}
.stepThree .descriptStep3 {
  color: #fff;
  font-size: 1.6rem;
  font-family: "inter", sans-serif;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}

/* itemCartClothes */
.splide__list {
  width: 126%;
  display: flex;
}
.splide__arrow {
  width: 5rem;
  height: 5rem;
  background: #000000;
}
.splide__arrow svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: white;
}
.cartClothesT_Shirt .titleCartTShirt {
  font-size: 4rem;
  font-family: "Black Ops One";
  color: #116396;
  text-align: center;
  margin-top: 14rem;
}

.cartClothesT_Shirt .card {
  width: 28rem;
  height: 40rem;
  background-color: #fff;
  border-radius: 5px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: ; */
  padding: 1rem;
}

.cartClothesT_Shirt img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.cartClothesT_Shirt .card-infor {
  width: 28.2rem;
  height: 14rem;
  margin-top: 25.1rem;
  position: absolute;
  background-color: #000000;
  border-radius: 5px;
}
.cartClothesT_Shirt .card-detail {
  color: #fff;
  font-size: 2rem;
  font-family: "inter", sans-serif;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-control {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.card-control button {
  background-color: #116396;
  color: #fff;
  width: 12.5rem;
  height: 3.3rem;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: "inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

/* CartPoloShirt */
.cartClothesPoloShirt .titleCartPoloShirt {
  font-size: 4rem;
  font-family: "Black Ops One";
  color: #116396;
  text-align: center;
  margin-top: 14rem;
}
.cartClothesPoloShirt .card {
  width: 28rem;
  height: 40rem;
  background-color: #fff;
  border-radius: 5px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: ; */
  padding: 1rem;
}
.cartClothesPoloShirt img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.cartClothesPoloShirt .card-infor {
  width: 28.2rem;
  height: 14rem;
  margin-top: 25.1rem;
  position: absolute;
  background-color: #000000;
  border-radius: 5px;
}
.cartClothesPoloShirt .card-detail {
  color: #fff;
  font-size: 2rem;
  font-family: "inter", sans-serif;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-control {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.card-control button {
  background-color: #116396;
  color: #fff;
  width: 12.5rem;
  height: 3.3rem;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: "inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.card-control button:hover {
  background-color: #fff;
  color: #116396;
  transition: all 0.3s;
}

/* footer */
footer {
  width: 100%;
  height: 30rem;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}
.allInformation {
  width: 100%;
  height: 80%;
  color: #fff;
  font-size: 4.6rem;
  display: flex;
  gap: 5rem;
  font-family: "inter", sans-serif;
  justify-content: space-around;
  margin-top: 2rem;
}
.inforContact .title,
.information .title,
.policy .title,
.followUs .title {
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.inforContact > div:not(.title):hover,
.information > div:not(.title):hover,
.policy > div:not(.title):hover,
.followUs > div:not(.title):hover {
  color: #3ba7e6;
  transition: all 0.3s;
  cursor: pointer;
}
.inforContact,
.information,
.policy {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* chỉnh số px tùy bạn */
}
.copyrightMeme {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  font-family: "inter", sans-serif;
  font-weight: bold;
}
